/* common */
/* common */

html {
  font-size: 100%;
  background-color:#E1F5FE;
  margin: 0 10%;
}

body {
  font-family: "Hiragino Kaku Gothic proN", "メイリオ", sans-serif;
  color: black;
  line-height: 1.5;
}

img {
  width: 100%;
}


header{
  background-color: #29b1ff;
  color: #E1F5FE;
  padding: 0 15px;
}

header p{
  font-weight: bolder;
}

header a,footer a{
  text-decoration: none;
  color: #fff;
}

header a:hover,footer a:hover,
header a:active,footer a:active{
  color:#E1F5FE;
  opacity: 1.1;
}

ul{
  display: flex;
}

ul li{
  list-style: none;
}

footer{
  background-color: #F9C671;
  color: #fff;
  padding: 0 15px;
  font-weight: bold;
}

// header

.header_logo{
  width: 50px;
  margin: 0;
}

.header_content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

header nav ul {
  display: flex;
}

header nav ul li {
  margin-left: 30px;
}


// main
section{
  background-color: #fff;
  padding: 20px;
  margin-top: 10px;
  min-height: 300px;
  text-align: center;
}

.toumei{
  background-color: rgba(255,255,255,0.7);
  border: 1px solid #000;
  text-decoration: none;
}

.message{
  background-image: url(school.png);
  background-size: cover;
}

.message a{
  text-decoration: none;
  background-color: rgba(255,255,255,0.7);
  border: 1px solid #000;
  color: #000;
  font-size: larger;
  padding: 10px;
  margin: 20px;
}

.message a:hover{
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #000;
  color: #29b1ff;
  font-weight: bolder;
}

.sec1 .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.sec1 .item {
  padding: 50px 20px;
  height: 180px;
  font-size: 20px;
  font-weight: bold;
}

.form{
  border: 2px solid #29b1ff;
  padding: 10px;
}

table {
  width: 300px;
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  background-color: rgb(242, 243, 243);
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 5px 10px;
}

.red{
  color: red;
  font-size: large;
  font-weight: bold;
}

.sec2 .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.sec2 .item {
  background-color: #f9c77127;

  padding: 50px 20px;
  height: 180px;
  font-size: larger;
}

.item1{
  background-image: url(school2.png);
  background-size: cover;
}

.item2{
  background-image: url(girl.png);
  background-size: cover;
}

.item3{
  background-image: url(huutou.png);
  background-size: cover;
}

footer {
  margin-top: 100px;
  padding: 30px;
  text-align: center;
  color: #fff;
}

footer ul {
  margin-bottom: 20px;
  font-size: 0.9rem;
  display:inline-flex;
  color:#fff;
}

footer ul li {
  display:inline-flex;
  margin: 5px;
}

small {
  font-size: 0.7rem;
}

header p{
  width: 550px;
  text-align: left;
}